@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");
* {
  font-family: "Comic Relief", system-ui;
  color: #674636;
}
body {
  background-color: #fff2eb;
}
